{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
<table class="table-striped table">
    <thead>
        <tr>
           <td>id</td>
           <td>email</td>
           <td>roles</td>
        </tr>
    </thead>
    <tbody>
    {% for user in users %}
    <tr>
        <td>{{ user.id }}</td>
        <td>{{ user.email }}</td>
        {% for role in user.roles %}
            <td>{{ role }}</td>
        {% endfor %}
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
